/*General Styles*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
  color: #555;
  background-color: rgb(99, 99, 99);
}

body {
  display: flex;
  flex-direction: row;
}

ul,
nav {
  list-style: none;
  padding: 30px;
}

a {
	text-decoration: none;
	opacity: 0.75;
}

a:hover {
	opacity: 1;
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*Header Styles*/

header {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  background-color: rgb(99, 99, 99);
  color: white;
  height: 100vh;
  overflow: hidden;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
}

header a {
	color: #fff;
}

header nav {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-basis: 80%;
}

header nav ul{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#logo{
  flex-basis: 20%;
}

#logo-background img{
  height: 90%;
  width: 90%;
  padding-top: 25px;
}



#logo-background {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

/*Main Section Styles*/

main {
  flex-basis: 80%;
  height: 100vh;
  width: 100vw;
  background-color: rgb(131, 131, 250);
  background-image: url("../img/divers3.jpg");
  background-clip: content-box;
	background-size: cover;
	background-position: center;
}










