/*General Styles*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

html {
	font: normal 16px sans-serif;
	color: #555;
}

ul,
nav {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 0.75;
	color: #fff;
}

a:hover {
	opacity: 1;
}

a.btn {
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #8c9eff;
	opacity: 1;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

section:not(.hero):nth-child(even) {
	background-color: #f8f8f8;
}
section:not(.hero):nth-child(odd) {
	background-color: #dddddd;
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

hr {
	width: 250px;
	height: 3px;
	background-color: #6b79c5;
	border: 0;
	margin-bottom: 50px;
}

section h3.title {
	text-transform: capitalize;
	font: bold 32px "Open Sans", sans-serif;
	margin-bottom: 30px;
	text-align: center;
}

section p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;
}

@media (max-width: 800px) {
	section {
		padding: 50px 20px;
	}
}

.black-text {
	color: black;
	
}

#background-image{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #80a3db;
	z-index: -1;
}

/* Image page styles */

#image-page {
	position: absolute;
	z-index: 2;
	border: 1px solid black;
	background-color: white;
	display: none;
	height: auto;
	border-radius: 8px;
	padding: 20px;
}

#image-page .image-page-header{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid rgb(224, 224, 224);
}

#image-page img {
	position: relative;
	margin: 20px auto 5px;
	width: 50vw;
	height: auto;
}

#image-page .close-container{
	float: right;
	color: rgb(94, 94, 94);
	width: 25px;
	margin: 10px 10px 0 0;
	padding: 5px;
	border-radius: 10%;
}

#image-page .close-container:hover{
	cursor: pointer;
}

@media (max-width: 1000px) {
	#image-page img {
		width: 80vw;
	}
}
@media (max-width: 800px) {
	#image-page img {
		width: 90vw;
	}
}

/*Header Styles for home page*/

header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 100px 0;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
	color: #fff;
	z-index: 1;
}


@keyframes fadein {
	100% {
		opacity: 1;
	}
}

header h2 {
	font-family: "Quicksand", sans-serif;
	text-shadow: 2px 2px rgb(44, 44, 44);
}

header nav {
	display: flex;
	margin-right: -15px;
	text-shadow: 1px 1px rgb(44, 44, 44);
}

header nav li {
	margin: 0 15px;
	padding-bottom: 5px;
	
}

header nav .services-nav .service-tab a {
	color: rgb(233, 233, 233);
}


header nav .services-nav .service-tab a:hover{
	color: #fff;
}

.service-tab {
	position: absolute;
	height: 100px;
	background-color: rgba(201, 201, 201, 0.514);
	padding: 10px;
	display: none;
	border-radius: 3px;
}

.service-tab li{
	padding: 5px;
}

header nav .services-nav:hover .service-tab{
	display: block;
}

@media (max-width: 900px){
	header nav {
		width: 470px;
	}
}

@media (max-width: 800px) {
	header {
		padding: 20px 50px;
		flex-direction: column;
	}

	header nav {
		justify-content: center;
		width: 100vw;
		font-size: 18px;
	}

	header h2 {
		margin-bottom: 15px;
		font-size: 20px;
	}
}

@media (max-width: 420px){
	header nav{
		font-size: 14px;
	}
	header h2 {
		font-size: 20px;
	}
}

@media (max-width: 360px){
	header nav{
		font-size: 10px;
	}
	header h2 {
		font-size: 16px;
	}
}

/*Hero Styles*/

.hero {
	position: relative;
	justify-content: flex-end;
	text-align: center;
	min-height: 100vh;
	color: #fff;
	
}

#background-image1 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	background-color: #80a3db;
	opacity: 1;
}

#background-image2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -2;
	background-color: #80a3db;
	opacity: 1;
}

#background-image3 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -3;
	background-color: #80a3db;
	opacity: 1;
}

#background-image4 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -4;
	background-color: #80a3db;
	opacity: 1;
}


@keyframes fadeOut {
	100%{
		opacity: 0;
	}
}


.hero h1 {
	font: bold 40px "Open Sans", sans-serif;
	margin-bottom: 15px;
	text-shadow: 2px 2px rgb(44, 44, 44);
}

.hero h3 {
	font: normal 28px "Open Sans", sans-serif;
	width: 75vw;
	margin-bottom: 40px;
	text-shadow: 2px 2px rgb(44, 44, 44);
}

.hero a.btn {
	padding: 20px 46px;
}

#hero-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefadeUp 1s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@keyframes slidefadeUp {
	0%{
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		margin: 0;
		transform: translateY(0px);
	}
}

@media (max-width: 800px) {

	.hero {
		min-height: 600px;
		justify-content: center;
	}

	.hero h1 {
		font-size: 48px;
	}

	.hero h3 {
		font-size: 20px;
		width: 85vw;
	}

	.hero a.btn {
		padding: 15px 40px;
	}
}

/*Services Section*/

.services a {
	color: rgb(112, 111, 111);
}

.services a:hover {
	color: #555;
}

.services .grid li {
	padding: 50px;
	flex-basis: 50%;
	text-align: center;
}

.services .grid li i {
	color: #8c9eff;
}

.services .grid li h4 {
	font-size: 30px;
	margin: 25px 0;
}


@media (max-width: 800px) {
	.services .grid li {
		flex-basis: 100%;
		padding: 20px;
	}
}

/* Organizations Section */

.organizations a {
	opacity: 1;
}

.organizations h4 {
	font-size: 20px;
	margin: 80px 0 40px 0;
}

.organizations .grid li{
	padding: 25px;
	flex-basis: 18%;
	text-align: center;
}

.organizations .grid img{
	width: auto;
	height: 100px;
}

@media (max-width: 1000px){
	.organizations .grid {
		flex-basis: 33.3%;
	}
}

@media (max-width: 800px){
	.organizations .grid li{
		flex-basis: 100%;
	}
	.organizations .grid img {
		height: 80px;
	}
}


/*Testimonials Section*/

.testimonials .quote {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.5;
	margin: 40px 0 25px;
}

@media (max-width: 800px) {
	.testimonials .quote {
		font-size: 18px;
		margin: 15px 0;
	}

	.testimonials .author {
		font-size: 14px;
	}
}

/*Contact Section*/

.contact form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 60%;
}

.contact form .btn {
	padding: 18px 42px;
}

.contact form input {
	padding: 15px;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
	flex: 1;
}

.contact .grid li {
	padding: 50px;
	flex-basis: 33.3%;
	text-align: center;
}

.contact .grid li i {
	color: #8c9eff;
}

.contact .grid li h4 {
	font-size: 20px;
	margin: 25px 0;
}

.contact .grid li p {

	line-height: 1.2;
}

@media (max-width: 1000px) {
	.contact form input {
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}

	.contact .grid li {
		flex-basis: 50%;
	}
}

@media (max-width: 800px) {
	.contact .grid li {
		flex-basis: 100%;
	}
}
/*Footer Section*/

footer {
	font-size: 12px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-around;
	background-color: #484a55;
	color: #fff;
	padding: 20px 0;
}

footer .contact-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

footer ul {
	display: flex;
}

footer ul li {
	margin-left: 16px;
}

footer p {
	font-size: 14px;
	opacity: 0.6;
	align-self: center;
}


@media (max-width: 1100px) {
	footer {
		flex-direction: column;
	}

	footer p {
		text-align: center;
		margin-bottom: 20px;
	}

	footer ul li {
		margin: 0 8px;
	}
} 

@media (max-width: 800px){
	footer p{
		font-size: 10px;
	}
}

/* About Section */

.about {
	position: relative;
	min-height: 100vh;
	background-image: url("../img/divers17.jpg");
	background-size: cover;
	background-color: #80a3db;
}

.about ul{
	list-style-type: circle;
	margin-left: 20px;
}

.about p{
	text-align: left;
	margin: 0 0 25px 0;
	padding: 0;
}

.about-content-area{
	flex-wrap: wrap;
	padding: 25px;
	width: 75%;
	background-color: rgba(236, 236, 236, 0.815);
margin-top: 50px;
	border: 1px solid black;
}

@media (max-width: 1000px){
	.about-content-area{
		width: 90%;
	}
}
@media (max-width: 800px) {
	.about {
		min-height: 600px;
	}

	.about h1 {
		font-size: 48px;
	}

	.about h3 {
		font-size: 24px;
	}

	.about a.btn {
		padding: 15px 40px;
	}

	.about-content-area{
		width: 100%;
	}
}

/* Services Page */

.services-page {
	position: relative;
	min-height: 100vh;
	background-image: url("../img/divers4.jpg");
	background-size: cover;
	background-color: #80a3db;

}


.services-content {	
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px;
	width: 75%;
	background-color: rgba(236, 236, 236, 0.815);
	margin-top: 50px;
	border: 1px solid black;
}

.services-content ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.services-content ul li{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 0 25px 0;
	padding: 0;
	list-style: none;
}

.services-content ul li p{
	text-align: left;
}

.services-content ul li{
	display: flex;
flex-direction: row;
	justify-content: space-between;
}

.services-content ul li a {
	order: 1;
}

.services-content ul li a img {
	width: 200px;
	height: 150px;
}

.services-content ul li a img:hover{
	cursor: pointer;
}


.services-content h4{
	margin-bottom: 20px;
	text-align: center;
}


@media (max-width: 1000px) {
	.services-content{
		width: 90%;
		margin-top: 100px;
	}
	.services-content ul li{
		flex-direction: column;
		align-items: center;
	}
	.services-content ul li img {
		order: 0;
		margin: 10px 0 20px 0;
	}
}

@media (max-width: 800px){

	.services-content{
		width: 100%;
	}
}

/* Contact Page */

.contact-page{
	position: relative;
	min-height: 100vh;
	background-image: url("../img/divers21.jpg");
	background-size: cover;
	background-color: #80a3db;
}

.contact-page-window{
padding: 25px;
	width: 75%;
	background-color: rgba(236, 236, 236, 0.815);
margin-top: 50px;
	border: 1px solid black;
}



.contact-page-window li{
	list-style: none;
}

/* Employment */

.employment-page{
	position: relative;
	min-height: 100vh;
	background-image: url("../img/divers22.jpg");
	background-size: cover;
	background-color: #80a3db;
}

.employment-page-content-area{
	flex-wrap: wrap;
	padding: 25px;
	width: 75%;
	background-color: rgba(236, 236, 236, 0.815);
margin-top: 50px;
	border: 1px solid black;
}

@media (max-width: 1000px){

	.employment-page-content-area{
		margin-top: 100px;
		width: 90%;
	}
}
@media (max-width: 800px){


	.employment-page-content-area{
		width: 100%;
	}
}